*, html{
    margin: 0;
    padding: 0;
}

/* body{
    font-family: ;
} */

/* umum */
.container{
    padding: 1.5rem 5rem;
}

/* nav */
.nav{
    display: flex;
    align-items:  center;
    justify-content: space-between;
    position: sticky;
}

.nav_title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

ul > li > a{
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: normal;
}